body
{
	background-color: #FAFAFA;
	font-family: Lato;
	width:100%;
	padding:0;
	margin:0;
	overflow-x:none;
}

#container
{
	Position: relative;
}
	

@media(min-width:775px){
	
	.offer_3_bigwindow
	{
		margin-top:50px;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.offer_3_windows
	{
		background: #FFFFFF;
		width:35%;
		height:380px;
		display:inline-block;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		margin-top: 30px;
		vertical-align:top;
		margin-right:20px;
	}
	#center_text{
		width:40%;
	}
	
}

@media(max-width:775px){

	.offer_3_bigwindow
	{
		margin-top:50px;
		
		display: grid;
		width: 100%;
	}
	.offer_3_windows
	{
		background: #FFFFFF;
		width:100%;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		margin-top: 30px;
		vertical-align:top;
		margin-right:20px;
	}
	#center_text{
		width:80%;
	}
}

#center_text
{
	text-align:center;
	margin-top:40px;
	font-weight: 800;
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
}

#hero_bg
{
	width: 100%;
    display: flex;
    background-color: #FAFAFA;
}

#logo
{
	margin: 0 22% 0 5%;
}

#logo img
{
	Width: 133.41px;
	Height: 48px;
}

#menu
{
    background-color: #FAFAFA;
}
#Produkt
{
	float:left;
	height: 21.71px;
	width: 83px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #232323;
}

.iconify
{
	width: 14px;
	height: 8px;
}
ol > .special_dropList > ul
{
	position:absolute;
}
ol > .special_dropList:hover > ul
{
	display: block;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	top:100%;
}

ol > .special_dropList:hover > .dropList > li
{
	position: relative;
	z-index: 100;
	border-bottom: 1px solid rgba(121, 121, 121, 0.2);
	margin-top: 10px;
	padding-bottom:10px;
}

ol > .special_dropList:hover > .dropList > li > a
{
	color: #223C77;
	margin-left: 20px;
}

ol > .special_dropList > .dropList 
{	
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	Width: 300px;
	Height: 160px;
	Top: 50px;
}

.noneborder
{
	border: none!important;
	color: #223C77;
}

ol > li
{
	display: inline-block;
	margin-left: 20px;
}

ol a
{
	color: #232323;
	text-decoration: none;
	display: block;
}
ol > li > ul > li
{
	position: relative;
	z-index: 100;
}
ul
{
	list-style-type: none;
	Display: block;
}

.special_dropList
{
	position: relative;
	font-weight: bold;
}

.others
{
	font-weight: bold;
	margin-left: 30px;
}

.button 
{
  background-color: #265A88;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#sekcja
{
	margin-left: 60px;
	display: flex;
	flex-wrap: wrap;
}

#manage
{
	display: inline-block;
}

#zarzadzaj
{
	margin-top: 60px;
	color: #232323;
	font-size: 42px;
	font-weight: 800;
	line-height: 50px;
	width: 461px;
}

#przetestuj
{
	height: 43px;
	width: 381px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin-top: 15px;
	padding-bottom: 20px;
}

#screen
{
	display: inline-block;
	width: 45%;
	height:400px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px 0px 0px 20px;
	margin-left: 100px;
	margin-top: 30px;
}

#MBMPL
{
	text-align: center;
	font-size: 40px;
	margin-top: 100px;
}

#DEMO
{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #818181;
	margin-top:40px;
}

#COMPANIES
{
	
}

#WHO_USES
{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #818181;
	margin-top:20px;
}

#COMPANIES_LOGO
{
	display: inline-block;
}

.company_logo
{
	padding-inline-start: 0px
}

.company_logo > li
{
	display: inline-block;
	height:57px;
	margin-left:35px;
}

.company_logo > li img
{
	max-width: 136px;
	max-height:57px;
	opacity: 0.7;
	filter: grayscale(100%);
}

.company_logo > li:first-child
{
	margin-left:0px;
}

.index
{
	z-index:4!important;
}

.special_dropList:hover > .dropList {
  visibility: visible;
  opacity: 1;
  display: block;
}

#offer_1
{
	display: flex;
    flex-wrap: wrap;
}

#film
{
	margin-top:40px;
	width: 35%;
	height: 250px;
	margin-left: 110px;
	background: rgba(121, 121, 121, 0.5);
}

#right_text
{
	display:inline-block;
	margin-left: 3%;
	width:45%;
}

.right_text_logo
{
	font-weight: 800;
	font-size: 28px;
	color: #39A15A;
	width:470px;
}

.right_text_description
{
	margin-top:40px;
	width:570px;
	font-size: 14px;
	color: #232323;
}

.button_offer
{
	margin-top:30px;
}

#offer_2
{
	display: flex;
    flex-wrap: wrap;
	margin-top:50px;
}
#left_section
{
	margin-left:50px;
}
#right_section
{
	margin-left:5%;
	margin-top:5%;
}

#right_section img
{
	width:450px;
	height:250px;
}
.counter
{
	background: #15314A;
	margin-top:30px;
	width:100%;
	text-align:center;
	padding-bottom:30px;
}
.title
{
	color: #FFFFFF;
	font-weight: 800;
	font-size: 28px;
	top:30px;
	text-align:center;
	position: relative;
}

.subs_users
{
	display:inline-block;
	margin-top:40px;
	width:20%;
	color:#FFFFFF;
	vertical-align:top;
}

#offer_3
{
	
}

.hexagon_sign
{
	text-align:center;
	margin-top:15px;
}

.hexagon_sign img
{
	
}

.offer_3_window_toptext
{
	font-weight: bold;
	font-size: 20px;
	margin-left:30px;
	margin-top:30px;
}
.offer_3_window_text
{
	font-weight: normal;
	font-size: 14px;
	margin-left:30px;
	margin-right:30px;
	font-family: Arial;
}

.read_more
{
	text-align:right;
	margin-top:15px;
	margin-right:10px;
}

.read_more a
{
	text-decoration: none;
	font-weight: normal;
	color: #959595
}

#zautomatyzuj
{
	background: #15314A;
	height: 220px;
	width:90%;
	margin-top:30px;
	margin-left:50px;
}

#tekst
{
	font-weight: 800;
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
	padding-top:30px;
}

#lets_talk
{
	text-align:center;
	margin-top: 80px;
}

#lets_talk_button
{
	background-color: #32CD99;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 15px 32px;
}

#testimonials
{
	margin-top:50px;
	
}

#join
{
	margin-left:40px;
	font-weight: 800;
	font-size: 28px;
	color: #232323;
	text-align:center;
}

.opinion
{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	height: 270px;
	width:25%;
	margin-left:180px;
	margin-top:30px;
	display:inline-block;
}

#our_team
{
	
}

.three_icons
{
	display:inline-block;
	margin-left:5%;
	width:15%;
	margin-top:80px;
	font-weight: normal;
	font-size: 14px;
	color:#FFFFFF;
}

#blog
{
	
}

#blog_title
{
	font-weight: 800;
	font-size: 28px;
	color: #232323;
	margin-left:60px;
	margin-top:30px;
}

.blog_photo
{
	display:inline-block;
	margin-left:70px;
	margin-top:20px;
}

#footer
{
	background-color:#265A88;
	width:100%;
	margin-top:50px;
}
#white_logo
{
	display:inline-block;
	position:absolute;
}
#white_logo img
{
	margin-top:30px;
	margin-left:100px;
}
#main_footer
{
	display:inline-block;
	margin-left:250px;
}
#company_name
{
	display:inline-block;
	margin-top:60px;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	vertical-align:top;
}

#contact_details
{
	display:inline-block;
	margin-top:60px;
	margin-left:30px;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	vertical-align:top;
}

#left_list
{
	display:inline-block;
	margin-top:40px;
	margin-left:30px;
	vertical-align:top;
}
#left_list > ul > li
{
	margin-top:5%;
}

#left_list a
{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}
#right_list
{
	display:inline-block;
	margin-top:40px;
	margin-left:30px;
}

#right_list > ul > li
{
	margin-top:5%;
}

#right_list a
{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#right_bottom_logo
{
	display:inline-block;
}

#right_bottom_logo img
{
	width:50%;
	text-align:bottom;
}

#footer_bottom
{
	margin-left:100px;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom:20px;
}

#footer_bottom a
{
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}